html {  /*background stuff */
	height: 100%;
	background: #e0f3fa; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #e0f3fa 0%, #b6dffd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #e0f3fa 0%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #e0f3fa 0%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-size: cover;
}

#header { /*first header you see*/
		font-family: 'Amatic SC', cursive;
		font-weight: bold;
		color: #CBD1D1;	
		font-size: 3.125em;
		letter-spacing: 0.3em;
		position: relative;
		padding-left: 0;
		transition-property: padding-left;
		transition-duration: 3s;
		transition-timing-function: ease;
		z-index: 0;
}
#headerAnimation:hover > #header {
	padding-left: 65%;
}
#headerAnimation:hover >#dropMenu {
	opacity: 1;
}
#headerLink:hover {
	color: white;
}
#dropMenu {
	font-size: 2.3em;
	font-family: 'Raleway', sans-serif;
	color:#C2D1D1;
	position:absolute;
	opacity:0;
	top: 8.7%;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: 0.2s;
	z-index: 0;
}
#headerLink {
	transition-property:color;
	transition-duration:0.5s;
	transition-timing-function: ease;
}